extends ../layout

block content

  include ../includes/instructions

  include ../includes/donations

  #network-graph.display

    h1.display-title

    .display-content

block scripts
    script(src="/js/libs/d3.v3.min.js?")
    script(src="/js/network_graph.js")
    script(src="/js/dashboard_init.js")
