extends ../layout

block content

  #dashboard-wrapper

    #donation Donated: $
      span.amount  0

    #d3

block scripts
    script(src="/js/libs/d3.v3.min.js?")
    script(src="/js/force_directed_directional.js")
