extends ../layout

block content

  include ../includes/instructions

  #leader-board.display

    h1.display-title

    .display-content

block scripts
  script(src="/js/libs/d3.v3.min.js?")
  script(src="/js/leaderboard.js")
  script(src="/js/leaderboard_init.js")
