extends ../layout


block header

  h1 Text your first name to 614 1891 7876 to join the game

  #donation Donation to charity: $
    span.amount  0

block content

  #d3

block scripts
    script(src="/js/d3/d3.v3.min.js?")
    script(src="/js/d3/force_directed_directional.js")
