extends ../layout

block content

    #highchart

block scripts
    script(src="/js/libs/highcharts.js")
    script(src="/js/highcharts/theme.js")
    script(src="/js/highcharts/main.js")
//- http://www.script-tutorials.com/active-charts-using-highcharts/
