extends ../layout


block content

  #d3

block scripts
    script(src="http://mbostock.github.com/d3/d3.js?1.29.1")
    script(src="http://mbostock.github.com/d3/d3.geom.js?1.29.1")
    script(src="http://mbostock.github.com/d3/d3.layout.js?1.29.1")
    script(src="/js/d3/force_directed_directional.js")
