extends ../layout

block header
  .column5
    h1 Welcome to Agile Australia
    h1 Text 61414213852 to play!
  .prefix8  
    h1 $214 donated to charity!


block header

  h1 Text your first name to 614 1891 7876 to join the game


block notifications

  #donation Donated: $
    span.amount  0

block content

  #d3

block scripts
    script(src="/js/d3/d3.v3.min.js?")
    script(src="/js/d3/force_directed_directional.js")
