extends ../layout


block content
  h1 Text your first name to 614 1891 7876 to join the game
  #d3

block scripts
    script(src="/js/d3/d3.v3.min.js?")
    script(src="/js/d3/force_directed_directional.js")
