form(action="/participants/create", method="post")
  fieldset
    legend Register
    label(for="phone-number") New Phone Number
    input#phone-number(name="phone-number")
    label(for="username") New Username
    input#username(name="username")
    input(type="submit", value="Register")

form(action="/participants/vote", method="post")
  fieldset
    legend Vote
    label From Phone Number
      input#phone-number-from(name="phone-number-from")
    label For Pin Number
      input#pin-number-to(name="pin-number-to")
    input(type="submit", value="Connect")

form(action="/participants/delete", method="post", onsubmit="return confirm('Are you sure you want to delete all participants?');")
  fieldset
    legend Delete All
    input(type="submit", value="Delete")
