form(action='/participants/create', method='post')
  fieldset
    legend Register
    label
      | New Phone Number
      input(name='phoneNumber', id='phoneNumber')
    input(type="submit", value="register")

form(action='/participants/connect', method='post')
  fieldset
    legend Vote
    label
      | From Phone Number
      input(name='phoneNumberFrom', id='phoneNumberFrom')
    label
      | For Pin Number
      input(name='pinNumberTo', id='pinNumberTo')
    input(type="submit", value="Connect")
