extends ../layout

block content
  header.masthead
    h1.page-title= title
    p Welcome to #{title}

    .main

      include ../includes/form

      section.debug

        article
          each participant in participants
            pre= participant
            p Scorecount is #{participant.score}
