extends ../layout

block header
  h1.page-title= title
  p Welcome to #{title}

block content
  include ../includes/form

  section.debug

    article
      each participant in participants
        pre= participant
        p Scorecount is #{participant.score}
