extends layout

block content
  h1= title
  p Welcome to #{title}


  form
    fieldset
      legend Register
      label
        | New Phone Number
        input(name='phone-number', id='phone-number')
      input(type="submit", value="register")


  form
    fieldset
      legend Vote
      label
        | From Phone Number
        input(name='phone-number', id='phone-number')
      input(type="submit", value="register")
      label
        | For Pin Number
        input(name='pin-number', id='pin-number')
      input(type="submit", value="register")


  h2 Sample Graph


      .actions
          button(class="switcher", id="column") Column
          button(class="switcher", id="area") Area
          button(class="switcher", id="line") Line
          button(class="switcher", id="spline") Spline
          button(class="switcher", id="areaspline") Area Spline

      #chart_1.chart
      #chart_2.chart
