extends layout

block content
  h1= title
  p Welcome to #{title}

  h2 Admin

  ul
    li
      a(href='/participants')
        | Play
    li
      a(href='/sms')
        | SMS


  h2 Visualisations

  ul
    li
      a(href='/display/leaderboard')
        | Leaderboard
    li
      a(href='/display/network-graph')
        | Network Graph
    li
      a(href='/display/hierarchial-edge-bundling')
        | Hiearchial Edge Bundling
