extends admin_layout

block content

  h2 Settings

  ul
    li
      a(href='/participants')
        | Play
    li
      a(href='/sms')
        | SMS


  h2 Visualisations

  ul
    li
      a(href='/visualization/leaderboard')
        | Leaderboard
    li
      a(href='/visualization/scoreboard')
        | Scoreboard
    li
      a(href='/visualization/force-directed')
        | Force Directed
    li
      a(href='/visualization/hierarchial-edge-bundling')
        | Hiearchial Edge Bundling
