extends layout

block content
  h1= title
  p Welcome to #{title}

  ul
    li
      a(href='/participants')
        | Play
    li
      a(href='/leaderboard')
        | Leaderboard
    li
      a(href='/dashboard')
        | Dashboard
    li
      a(href='/sms')
        | SMS
