extends layout

block content
  h1= title
  p Welcome to #{title}

  ul
    li
      a(href='/participants')
        | Play
    li
      a(href='/scoreboard/1')
        | Leaderboard
    li
      a(href='/scoreboard/2')
        | Network diagram
