!!! 5
html
  head
    title= title
    link(href="/styles.css", rel="stylesheet", type="text/css")
    link(href="/1140.css", rel="stylesheet", type="text/css")

    body

      .container12
        .row
          .column12
            header.masthead
              block header
        .row
          .column12
            .main
              block content

      

    script(src="/js/jquery-1.10.1.min.js")
    block scripts
