!!! 5
html
  head
    title= title
    link(href="/styles.css", rel="stylesheet", type="text/css")

    body

      header.masthead
        block header

      .main
        block content

    script(src="/js/jquery-1.10.1.min.js")
    block scripts
