!!! 5
html
  head
    title= title
    link(href="/styles.css", rel="stylesheet", type="text/css")
    link(href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700", rel="stylesheet", type="text/css")

    body
      .main
        block content

    script(src="/js/libs/jquery-1.10.1.min.js")
    script(src="/js/libs/underscore.js")
    block scripts
