!!! 5
html
  head
    title= title
    link(href="/styles.css", rel="stylesheet", type="text/css")

    body
      .main
        block content

    script(src="/js/libs/jquery-1.10.1.min.js")
    block scripts
