!!! 5
html
  head
    title= title
    link(href="/styles.css", rel="stylesheet", type="text/css")

    body
      block content

    script(src="http://code.jquery.com/jquery-1.7.1.min.js")
    block scripts
