doctype 5
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(href="/stylesheets/main.css", rel="stylesheet", type="text/css")


    body
      block content

    script(src="http://code.jquery.com/jquery-1.7.1.min.js")
    script(src="/js/libs/highcharts.js")
    script(src="/js/highcharts/gray.js")
    script(src="/js/highcharts/main.js")
