extends layout

block content
    script(src="http://d3js.org/d3.v3.min.js")
    //- script(src="/js/d3/force_directed.js")
    script(src="/js/d3/heirarchial_edge_bundling.js")

//- http://mbostock.github.io/d3/talk/20111116/bundle.html
//- http://nvd3.org/ghpages/examples.html
