*{margin:0;padding:0}
body{padding:50px;font:14px "Lucida Grande",Helvetica,Arial,sans-serif;background:url("/img/background.jpg") no-repeat scroll top center transparent}
header{background-color:rgba(33,33,33,0.9);color:#fff;display:block;font:14px/1.3 Arial,sans-serif;height:50px;position:relative}
header h2{font-size:22px;margin:0 auto;padding:10px 0;width:80%;text-align:center}
header a,a:visited{text-decoration:none;color:#fcfcfc}
a{color:#00b7ff}
.actions,.chart{margin:15px auto;width:820px}
button{background:none repeat scroll 0 0 #e3e3e3;border:1px solid #bbb;border-radius:3px 3px 3px 3px;box-shadow:0 0 1px 1px #f6f6f6 inset;color:#333;font:bold 12px;margin:0 5px;padding:8px 0 9px;text-align:center;text-shadow:0 1px 0 #fff;width:150px}
button:hover{background:none repeat scroll 0 0 #d9d9d9;box-shadow:0 0 1px 1px #eaeaea inset;color:#222;cursor:pointer}
button:active{background:none repeat scroll 0 0 #d0d0d0;box-shadow:0 0 1px 1px #e3e3e3 inset;color:#000}
.node{stroke:#fff;stroke-width:1.5px;font:10px sans-serif}
.link{stroke:#999;stroke-opacity:.6;fill:none}
