extends ../layout

block content

  include ../includes/instructions

  include ../includes/donations

  #network-graph.visualization

    h1.visualization-header

    .visualization-body

block scripts
    script(src="/js/libs/d3.v3.min.js?")
    script(src="/js/network_graph.js")
    script(src="/js/dashboard_init.js")
