path.link
  fill: none
  stroke: #0bf
  stroke-width: 2px


path.link.resolved
  stroke-dasharray: 0,2 1

circle
  fill: #f00
  stroke: rgba(255,255,255,0.5)
  stroke-width: 0
  transition: all 300ms ease

circle:hover,
circle:active,
circle:focus
  stroke-width: 10px

.nodeLabel
  stroke: #666
  font: 10px sans-serif
  pointer-events: none
