body
  background-color: #000 !important
  margin: 0

path.link
  fill: none
  stroke: #0bf
  stroke-width: 2px

marker#licensing
  fill: none

path.link.resolved
  stroke-dasharray: 0,2 1

circle
  fill: #fff
  stroke: rgba(255,255,255,0.5)
  stroke-width: 0
  transition: all 300ms ease

circle:hover,
circle:active,
circle:focus
  stroke-width: 10px

text
  font: 10px sans-serif
  pointer-events: none

text.shadow
  stroke: #fff
  stroke-width: 3px
  stroke-opacity: 0.8
