#network-graph

  text
    font-size: 16px
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif

  circle
    stroke: #9ecae1
    stroke-width: 2
    transition: all 300ms ease

  circle:hover,
  circle:active,
  circle:focus
    stroke-width: 5px

  .link
    fill: #9ecae1
    stroke: #9ecae1
    stroke-width: 5px

  .node
    fill: none
    stroke: none;
