#leaderboard

  .leaderboard-title
    color: #FFF

  .bar-container
    fill: green
    stroke: white

  .bar-label
    stroke: none
    fill: white

  .label-container
    stroke: none
    fill: white
