.leaderboard
  background-color: displayBg
  color: displayFg

#leader-board

  text
    font-size: 24px

  .leaderboard-title
    color: #FFF

  .bar-container
    fill: rgb(0, 170, 144)
    stroke: white

  .bar-label
    stroke: none
    fill: white

  .label-container
    stroke: none
    fill: white
