.dashboard
  background-color: displayBg
  color: displayFg

#network-graph

  text
    font-size: 16px
    font-family: sansSerifFont

  circle
    stroke-width: 2
    transition: all 300ms ease

  circle:hover,
  circle:active,
  circle:focus
    stroke-width: 5px

  .link
    fill: #009900
    stroke: #009900
    stroke-width: 3px

  .node
    fill: none
    stroke: none;
