#scoreboard

  // Layouts are weighted to this number
  row-size = 96px

  .visualization-header
    background winningColor
    margin-bottom 1px

  ol
    list-style none
    margin 0
    padding 0
    color white

  li
    margin 0
    position relative
    height row-size
    margin-bottom 1px
    font-weight 500
    font-size (row-size*0.25)
    transition all 500ms ease-in-out

  .score-bar
    left 0
    top 0
    height row-size
    padding-left row-size
    position absolute
    background winningColor // TODO @2metres: stylus function for blocked colour fade
    transition width 500ms ease-in-out
    box-sizing border-box
    z-index -4

  .score
    box-sizing  border-box
    line-height row-size
    height      row-size
    min-width   row-size
    padding 0 (row-size*0.2)
    background darken(winningColor, 5%)
    color white
    display inline-block
    font-weight 100    
    font-size (row-size*0.5)
    text-align center
    transition border 500ms ease
    margin-right (row-size*0.2)

  .all
    color: white

