@import('_normalize.styl')

body
    margin: 1em
    font-size: 16px
    line-height: 24px

// Layout

.masthead
.main
    max-width: 80em
    margin: 0 auto

// Forms

fieldset
    legend
        font-weight: bold

input
label
    // margin-left: 1em
    display: block

input[type='submit']
    text-transform: capitalize

input
    margin: .4em 0
