@import('_normalize.styl')

@import('_d3.styl')

bgColor = #FFFFFF
fgColor = #000000

body
    margin: 1em
    font-size: 16px
    line-height: 24px
    background-color: bgColor
    color: fgColor

// Layout
.masthead
.main
    max-width: 80em
    margin: 0 auto

#donation
  text-align: right

// Forms
fieldset
    legend
        font-weight: bold
input
label
    // margin-left: 1em
    display: block

input
    margin: 0.4em 0

input[type='submit']
button
    background: none repeat scroll 0 0 #E3E3E3
    border: 1px solid #BBBBBB
    border-radius: 3px 3px 3px 3px
    box-shadow: 0 0 1px 1px #F6F6F6 inset
    color: #333333
    font: bold 12px
    margin: 0 5px
    padding: 8px 0 9px
    text-align: center
    text-shadow: 0 1px 0 #FFFFFF
    width: 150px

input[type='submit']:hover
button:hover
    background: none repeat scroll 0 0 #D9D9D9
    box-shadow: 0 0 1px 1px #EAEAEA inset
    color: #222222
    cursor: pointer

button:active
    background: none repeat scroll 0 0 #D0D0D0
    box-shadow: 0 0 1px 1px #E3E3E3 inset
    color: #000000

